/* Color Definitions */

$light-blue: #fafeff;
$darker-blue: #2096c3;
$dark-gray: #222222;
$med-gray: #4d4d4d;
$black: #000000;
$orange: #f59446;

/* Breakpoints */

$break-small: 750px;

$mobile-logo-height: 25px;

$lz-container-max-width: 700px;

$lz-padding: 30px;

$col-width: ($lz-container-max-width / 4) - ((3 * $lz-padding) / 4);
$gutter-width: ($lz-container-max-width - ($col-width * 4)) / 3;

@mixin hide-mobile() {
	@media screen and (max-width: $break-small) {
    	display: none;
    }
}

@mixin hide-desktop() {
	@media screen and (min-width: $break-small) {
		display: none;
	}
}

@mixin ThumbnailShadow() {
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.15);
}

@mixin ThumbnailDark() {
	box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.25);
}

@mixin ThumbnailShadowHover() {
	@include ThumbnailShadow();
	&:hover {
		@include ThumbnailDark();
	}
}