/* Color Definitions */

@use "sass:math";

$light-blue: #fafeff;
$darker-blue: #1D789F; /* Was #2096c3 but failed a11y*/
$light-gray: #646464;
$dark-gray: #222222;
$med-gray: #4d4d4d;
$black: #000000;
$orange: #f47533;

/* Breakpoints */

$break-small: 500px;

$mobile-logo-height: 25px;

$lz-container-max-width: 700px;

$lz-padding: 30px;

$col-width: ($lz-container-max-width * 0.25) - ((3 * $lz-padding) * 0.25);
$gutter-width: math.div($lz-container-max-width - ($col-width * 4), 3);

@mixin hide-mobile() {
	@media screen and (max-width: $break-small) {
    	display: none;
    }
}

@mixin hide-desktop() {
	@media screen and (min-width: $break-small) {
		display: none;
	}
}

@mixin ThumbnailShadow() {
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.15);
}

@mixin ThumbnailDark() {
	box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.25);
}

@mixin ThumbnailShadowHover() {
	@include ThumbnailShadow();
	&:hover {
		@include ThumbnailDark();
	}
}

@mixin PinchArrow($arrow-color, $arrow-width) {
	width: 0;
	height: 0;
	border-left: solid $arrow-width transparent;
	border-right: solid $arrow-width transparent;
	border-bottom: solid $arrow-width $arrow-color;
}