@import 'lz-variables';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	background: $light-blue;
	color: $dark-gray;
	padding: 0;
	margin: 0;
	/*font-family: 'Lato', sans-serif;*/
	font-family: 'Montserrat', sans-serif;
	font-size: medium;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	color: $darker-blue;
	text-align: center;
	text-transform: uppercase;
}

p {
	margin: $lz-padding;
	line-height: 1.66;
}

button {
	background: $darker-blue;
	color: #fff;
	border: 0;
	font-size: 1em;
	padding: .25em 1em;
	border-radius: .1em;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;

	span {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&:hover {
		background: darken($darker-blue, 10%);
	}
}

a {
	color: $darker-blue;
	&:visited {
		color: darken($darker-blue, 25%);
	}
}

.hidden {
	display: none;
}

.img-responsive {
	max-width: 100%;
	display: block;
}

.text-center {
	text-align: center;
}

.pull-left {
	float: left;
}

.lz-padding {
	margin: $lz-padding 0;
}

.lz-dbl-padding {
	margin: (2 * $lz-padding) 0;
}

.lz-container {
	width: 90%;
	max-width: $lz-container-max-width;
	margin: $lz-padding auto;
}

.lz-container-no-scroll {
	max-height: 100vh;
	margin: 0 auto;
	overflow: hidden;
}

.lz-container.player-is-visible {
	@media screen and (min-width: $break-small) {
		margin-top: 6em;
	}

	@media screen and (max-width: $break-small) {
		margin-bottom: 8em;
	}
}

.lz-header {
	
}

.lz-footer {
	margin-top: 2 * $lz-padding;
	font-family: 'Montserrat', sans-serif;
	clear: both;
}

.hamburger {
	position: absolute;
	top: $lz-padding + ($mobile-logo-height / 2) - 16px;
	display: inline-block;
	z-index: 999;
	cursor: pointer;
	max-width: 19px;
	user-select: none;
	@include hide-desktop();

	button {
		display: block;
		background: transparent;
		outline: none;
		padding: 0;
		margin: 0;
		border-radius: 0;
	}

	img {
		width: 18px;
		margin: 8px 7px;
	}
}

.hamburger-line {
	border-bottom: solid 1px $med-gray;
	width: 18px;
	margin: 8px 7px;
}

.logo {
	text-align: center;
}

.mobile-logo {
	height: $mobile-logo-height;
	@include hide-desktop();
}

.desktop-logo {
	width: 125px;
	height: 125px;
	@include hide-mobile();
}

.lz-nav {
	font-family: 'Montserrat', sans-serif;

	a {
		color: $dark-gray;
		text-decoration: none;
	}

	a.nav-active {
		color: $darker-blue;
		@media screen and (max-width: $break-small) {
			color: $dark-gray;
		}
	}

	a:hover {
		color: $darker-blue;
	}

	.disabled {
		color: lighten($dark-gray, 40%);
	}

	@media screen and (max-width: $break-small) {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100vw;
    	display: flex;
    	flex-direction: row;
    	height: 100vh;
    	align-items: stretch;
    	justify-content: center;
    	margin: 0;

    	& > div {
    		width: 50%;
    		flex-basis: 50%;
    	}

    	.nav-column {
    		background: $light-blue;
    		display: flex;
    		flex-direction: column;
    		align-items: center;
    		justify-content: center;
    		box-shadow: 0px 0px 15px 0px rgba($dark-gray, .3);
    		transition: all .5s;
    	}

    	.nav-modal {
    		background: rgba(0,0,0, .1);
    	}

    	a {
    		color: $darker-blue;
    	}

    	a:hover {
			color: $dark-gray;
		}

    }
}

.hide-nav {
	@media screen and (max-width: $break-small) {
		left: -110%;
		transition: all .25s;

		.nav-modal {
			background: transparent;
		}
	}
}

.lz-nav nav {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-between;
	text-transform: uppercase;

	@media screen and (max-width: $break-small) {
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 60vh;
	}
}

.nav-disabled {
	color: lighten($med-gray, 30%);
}

.disabled-btn {
	background: lighten($dark-gray, 50%);
	color: lighten($dark-gray, 75%);

	&:hover {
		background: lighten($dark-gray, 50%);
		color: lighten($dark-gray, 75%);
	}
}

.episode-showcase {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;

	@media screen and (max-width: $break-small) {
		flex-direction: column;
	}

	h4 {
		margin: 0;
		text-align: left;
		color: $orange;
		letter-spacing: .075em;
		font-size: 1.1em;
	}

	p {
		margin: .5em 0;
		line-height: 1.5em;
	}

	.art-width {
		flex-shrink: 0;
		width: $col-width;
		@media screen and (max-width: $break-small) {
			width: 100%;
		}

		img {
			@include ThumbnailShadow();
		}
	}

	.description {
		flex-grow: 0;
		width: ($col-width * 3) + ($gutter-width * 2);
		@media screen and (max-width: $break-small) {
			width: 100%;
			margin-top: 5%;
		}
	}
}

.podcast-display-btn {
	background: transparent;
	font-size: 2.75em;
	padding: 0;
	margin: 0 .125em;
	outline: none;

	&:first-child {
		margin-left: 0;
	}

	&:hover {
		background: transparent;
	}
}