@import 'lz-variables';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	background: $light-blue;
	color: $dark-gray;
	padding: 0;
	margin: 0;
	/*font-family: 'Lato', sans-serif;*/
	font-family: 'Montserrat', sans-serif;
	font-size: medium;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	color: $darker-blue;
	text-align: center;
	text-transform: uppercase;
}

p {
	margin: $lz-padding;
	line-height: 1.66em;
}

button {
	background: $darker-blue;
	color: #fff;
	border: 0;
	font-size: 1em;
	padding: .25em 1em;
	border-radius: .1em;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;

	span {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&:hover {
		background: darken($darker-blue, 10%);
	}
}

a {
	color: $darker-blue;
	&:visited {
		color: darken($darker-blue, 25%);
	}
}

.hidden {
	display: none;
}

.img-responsive {
	max-width: 100%;
	display: block;
}

.text-center {
	text-align: center;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.lz-padding {
	margin: $lz-padding 0;
}

.lz-dbl-padding {
	margin: (2 * $lz-padding) 0;
}

.lz-container {
	width: 90%;
	max-width: $lz-container-max-width;
	margin: $lz-padding auto;
}

.lz-container-no-scroll {
	max-height: 100vh;
	margin: 0 auto;
	overflow: hidden;
}

.lz-container.player-is-visible {
	@media screen and (min-width: $break-small) {
		margin-top: 6em;
	}

	@media screen and (max-width: $break-small) {
		margin-bottom: 8em;
	}
}

.lz-header {
	
}

.lz-footer {
	margin-top: 2 * $lz-padding;
	font-family: 'Montserrat', sans-serif;
	clear: both;
}

.hamburger {
	position: absolute;
	top: $lz-padding + ($mobile-logo-height / 2) - 16px;
	display: inline-block;
	z-index: 10100;
	cursor: pointer;
	max-width: 19px;
	user-select: none;
	@include hide-desktop();

	button {
		display: block;
		background: transparent;
		outline: none;
		padding: 0;
		margin: 0;
		border-radius: 0;
		cursor: pointer;
	}

	img {
		width: 18px;
		margin: 8px 7px;
	}
}

.hamburger-line {
	border-bottom: solid 1px $med-gray;
	width: 18px;
	margin: 8px 7px;
}

.logo {
	text-align: center;
}

.mobile-logo {
	height: $mobile-logo-height;
	@include hide-desktop();
}

.desktop-logo {
	width: 125px;
	height: 125px;
	@include hide-mobile();
}

.lz-nav {
	font-family: 'Montserrat', sans-serif;

	button {
		background: transparent;
		margin: 0;
		padding: 0;
	}

	button:active {
		outline: none;
	}

	a, button {
		color: $dark-gray;
		text-decoration: none;
		text-transform: uppercase;
		font-family: inherit;
	}

	a.nav-active {
		color: $darker-blue;
		@media screen and (max-width: $break-small) {
			color: $dark-gray;
		}
	}

	a:hover, button:hover, button:focus, a:focus {
		color: $darker-blue;
		cursor: pointer;
	}

	.disabled {
		color: lighten($dark-gray, 40%);
	}

	@media screen and (max-width: $break-small) {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100vw;
    	display: flex;
    	flex-direction: row;
    	height: 100vh;
    	align-items: stretch;
    	justify-content: center;
    	margin: 0;
    	z-index: 10000;

    	& > div {
    		width: 50%;
    		flex-basis: 50%;
    	}

    	.nav-column {
    		background: $light-blue;
    		display: flex;
    		flex-direction: column;
    		align-items: center;
    		justify-content: center;
    		box-shadow: 0px 0px 15px 0px rgba($dark-gray, .3);
    		transition: all .5s;
    	}

    	.nav-modal {
    		background: rgba(0,0,0, .1);
    	}

    	a, button {
    		color: $darker-blue;
    	}

    	a:hover, button:hover {
			color: $dark-gray;
		}

    }
}

.hide-nav {
	@media screen and (max-width: $break-small) {
		left: -110%;
		transition: all .25s;

		.nav-modal {
			background: transparent;
		}
	}
}

.lz-nav nav {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-between;

	@media screen and (max-width: $break-small) {
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 60vh;
	}
}

.sub-menu {
	$pinch-width: 1em;
	$sub-menu-bg: rgba($light-blue, .9);
	display: inline-flex;
	flex-direction: column;

	@media screen and (max-width: $break-small) {
		align-items: center;

		& > button {
			margin-bottom: 1em;
		}
	}

	.ctrl-wrapper {
		display: inline-flex;
		flex-direction: column;
		margin-left: 50%;

		@media screen and (max-width: $break-small) {
			margin: 0;
		}
	}

	.ul-wrapper {
		position: absolute;
		z-index: 10000;
		margin-top: $pinch-width;
		display: inline-flex;
		transition: all 1s;
		
		@media screen and (max-width: $break-small) {
			position: static;
			margin: 0;
		}

		ul.sub-menu-menu {
			background: $sub-menu-bg;
			flex-direction: column;
			list-style: none;
			margin: 0 50% 0 -50%;
			text-align: center;
			padding: .1em 1em;
			box-shadow: 0px 0px $pinch-width ($pinch-width / 3) rgba(0,0,0,0.25);

			@media screen and (max-width: $break-small) {
				box-shadow: 0 0 0 0 #fff;
				margin: 0;
			}

			li {
				margin: 1em 0;

				@media screen and (max-width: $break-small) {
					a {
						color: $orange;
					}
				}
			}
		}

	}

	.ul-wrapper.sub-hidden {
		display: none;
	}

	.ul-wrapper.sub-visible {
		
	}

	.sub-menu-pinch-arrow {
		@include PinchArrow($light-blue, $pinch-width);
		position: absolute;
		margin: 0;
		margin-top: -1 * $pinch-width;
		margin-left: -1 * $pinch-width;

		@media screen and (max-width: $break-small) {
			display: none;
		}
	}

}

.nav-disabled {
	color: lighten($med-gray, 30%);
}

.disabled-btn {
	background: lighten($dark-gray, 50%);
	color: lighten($dark-gray, 75%);

	&:hover {
		background: lighten($dark-gray, 50%);
		color: lighten($dark-gray, 75%);
	}
}

.episode-showcase {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: $lz-padding / 2;
	grid-row-gap: $lz-padding / 2;

	@media screen and (max-width: $break-small) {
		grid-template-columns: 1fr;
	}

	.description {
		grid-column-start: 2;
		grid-column-end: 5;

		@media screen and (max-width: $break-small) {
			grid-column-start: 1;
			grid-column-end: 2;
		}

		h4 {
			margin: 0;
			text-align: left;
			color: $orange;
			letter-spacing: .075em;
			font-size: 1.1em;
		}

		p {
			margin: .5em 0;
			line-height: 1.5em;
		}
	}

	.art-width {
		.cover-art {
			@include ThumbnailShadow();
		}
	}
}

.podcast-display-btn {
	background: transparent;
	font-size: 2.75em;
	padding: 0;
	margin: 0 .25em 0 0;
	outline: none;

	&:first-child {
		margin-left: 0;
	}

	&:hover {
		background: transparent;
		cursor: pointer;
	}
}

.podcast-display-btn-color {
	background: $orange;
	border-radius: 1.5em;
	color: #421300;
	font-weight: bold;
	padding: .125em .25em .125em .125em;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-style: solid;
	border-width: 1px;
	border-color: lighten($orange, 10%) darken($orange, 20%) darken($orange, 20%) lighten($orange, 10%);
	font-size: 2em;

	.podcast-display-btn-text {
		margin: 0 .5em;
		font-size: .5em;
	}

	&:hover {
		color: #ffffff;
		border-color: lighten($darker-blue, 10%) darken($darker-blue, 20%) darken($darker-blue, 20%) lighten($darker-blue, 10%);
		cursor: pointer;
	}

	.svg-btn {
		fill: #ffffff;
	}
}

.gallery-fullsize {
	width: 100%;
}

.photo-step {
	position: relative;
}

.photo-step-links {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	z-index: 100000;
}

.photo-step-link {
	background: $orange;
	color: #ffffff;
	text-decoration: none;
	padding: .5em;
	border-radius: .25em;
	margin: 1em;

	&:visited {
		color: #ffffff;
	}

	&:hover {
		background: darken($orange, 20%);
	}
}