@import 'lz-variables';

.player {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(#fff, .8);
	color: $darker-blue;
	font-size: 1.2em;
	@media screen and (max-width: $break-small) {
		font-size: 1em;
	}
}

.player-main {
	margin-top: $lz-padding / 2;
	margin-bottom: $lz-padding / 2;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: flex-start;
	@media screen and (max-width: $break-small) {
		margin-top: 5%;
		margin-bottom: 5%;
	}
}

.player-info {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	@media screen and (max-width: $break-small) {
		flex-direction: column;
	}
}

.now-playing {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	flex-grow: 1;
	margin: 0 ($lz-padding / 2);
	min-width: 0;
	max-width: 100%;
}

.playing-title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.player-controls {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	button {
		font-weight: bold;
		display: flex;
		flex-direction: column;
		border-radius: .25em;
		justify-content: center;
		align-items: center;
		padding: .25em;
		margin: 0 .5em;
	}
}

.player-art {
	width: 3em;
	max-width: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
}

.playing {
	color: lighten($darker-blue, 35%);
}

.ctrl-btn {
	background: transparent;
	&:hover {
		background: rgba(#fff, .2);
	}
}

.ctrl-btn.disabled-btn {
	opacity: .5;

	&:hover {
		background: transparent;
	}
}

.seek-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.seek-wrap {
	flex-grow: 1;
}

.seek-input {
	display: block;
	width: 100%;
	background: none;
	outline: none;
	height: 0;
	margin: 0;
	padding: 0;
	position: relative;
	-webkit-appearance: none;
}

.seek-color {
	background: lighten($dark-gray, 45%);
	height: 3px;
	position: relative;
	left: 0;
	margin-top: -2px;
}

.seek-color.playing {
	background: $darker-blue;
}

.time {
	font-size: .8em;
}