@import 'lz-variables';

$play-color: $orange;
$pause-color: $orange;

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

.player {
	position: fixed;
	left: 0;
	width: 100%;
	background: rgba($light-blue, .9);
	color: $pause-color;
	display: flex;
	flex-direction: column;

	@media screen and (min-width: $break-small) {
		top: 0;
	}

	@media screen and (max-width: $break-small) {
		border-top: solid .2em $pause-color;
		bottom: 0;
	}
}

.player.player-hidden {
	transition: all .5s;

	@media screen and (min-width: $break-small) {
		top: -15em;
	}

	@media screen and (max-width: $break-small) {
		bottom: -15em;
	}
}

.buffering {
	background-color: $pause-color;
	background-image: linear-gradient(
		-45deg, 
		rgba(255, 255, 255, .2) 25%, 
		transparent 25%, 
		transparent 50%, 
		rgba(255, 255, 255, .2) 50%, 
		rgba(255, 255, 255, .2) 75%, 
		transparent 75%, 
		transparent
	);
	background-size: 50px 50px;
	animation: move 2s linear infinite;
}

.player.playing {
	color: $play-color;

	@media screen and (max-width: $break-small) {
		border-color: $play-color;
		bottom: 0;
	}

	& > .player-seekbar.buffering {
		background-color: $play-color;
	}

	& > .player-seekbar {
		border-color: $play-color;

		.seekbar-played {
			background: $play-color;
		}

		.seekbar-loaded {
			background: rgba($play-color, .1);
		}
	}

	& > .svg-btn {
		fill: $play-color;
	}
}

.player.nav-is-showing {
	left: 50%;
}

.player.nav-is-not-showing {
	transition: left .1s;
}

.player-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .75em 0;

	button {
		outline: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0;
		margin: 0 .1em;
		font-size: 1.75em;

		@media screen and (max-width: $break-small) {
			font-size: 2.5em;
		}
	}

	button:first-child {
		margin-left: 0;
	}

	@media screen and (max-width: $break-small) {
		flex-wrap: wrap;
	}
}

.player-controls {
	width: 10%;
	margin-left: $lz-padding;
	flex-shrink: 1;

	.player-button-set {
		display: flex;
		flex-direction: row;
	}

	@media screen and (max-width: $break-small) {
		flex-basis: 100%;
		display: flex;
		justify-content: center;
		margin: 0 0 2.5% 0;
	}
}

.player-now-playing {
	width: 90%;
	max-width: $lz-container-max-width;
	flex-shrink: 1;

	@media screen and (max-width: $break-small) {
		margin-left: 5%;
		margin-right: 5%;
		width: 65%;
	}

	.title-text {
		text-transform: uppercase;
		letter-spacing: .025em;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

}

.player-time {
	width: 10%;
	text-align: right;
	margin-right: $lz-padding;

	@media screen and (max-width: $break-small) {
		margin-right: 5%;
		width: 20%;
	}
}

.player-seekbar {
	border-style: solid;
	border-width: .15em 0;
	border-color: $pause-color;

	.seekbar-loaded {
		background: rgba($pause-color, .15);
		width: 0;
		height: 1em;
	}

	.seekbar-played {
		background: $pause-color;
		width: 0;
		height: 1em;
		position: relative;
		top: -1em;
		margin-bottom: -1em;
	}
}

.seek-input {
	background: transparent;
	position: relative;
	margin-top: -1.3em;
	padding: 0;

	input[type=range]{
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		display: block;
		width: 100%;
		background: transparent;
		font-size: 1.3em;
		margin: 0;
		padding: 0;
	}

	input[type=range]::-webkit-slider-runnable-track,
	input[type=range]::-ms-track,
	input[type=range]::-ms-range-track {
		background: transparent;
		height: 1em;
		margin: 0;
		padding: 0;
	}

	input[type=range]::-webkit-slider-thumb,
	input[type=range]::-moz-range-thumb,
	input[type=range]::-ms-range-thumb, {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border: 0;
		margin-top: -.25em;
		height: 1.25em;
		width: 3em;
		background: transparent;
	}

	input[type=range]:focus {
		outline: none;
	}
}

.ctrl-btn {
	background: transparent;

	img {
		height: 1em;

		@media screen and (max-width: $break-small) {
			height: 1.5em;
		}		
	}

	&:hover {
		background: rgba(#fff, .2);
	}
}

.ctrl-btn.disabled-btn {
	opacity: .5;

	&:hover {
		background: transparent;
	}
}

.svg-btn {
	fill: $pause-color;
}