@import 'lz-variables';

.podcast-detail-page {
	p {
		margin-left: 0;
		margin-right: 0;
	}
}

.pd-date {
	text-align: left;
	font-weight: bold;
}

.pd-art {
	float: right;
	width: 45%;
	margin-left: $lz-padding;
	margin-bottom: $lz-padding;
	@include ThumbnailShadow();

	@media screen and (max-width: $break-small) {
		float: none;
		width: 100%;
		margin: 0;
	}
}

.pd-duration {
	color: $light-gray;
	font-weight: 700;
}

.podcast-detail-body {
	padding-top: 1em;
	clear: both;
}