@import 'lz-variables';

.podcast-detail-page {
	p {
		margin-left: 0;
		margin-right: 0;
	}
}

.pd-date {
	font-weight: bold;
}

.pd-art {
	float: right;
	width: 45%;
	margin-left: $lz-padding;
	margin-bottom: $lz-padding;

	@media screen and (max-width: $break-small) {
		float: none;
		width: 100%;
		margin: 0;
	}
}