@import 'lz-variables';

.share-your-story {
	background: $orange;
	color: darken($orange, 45%);
	padding: $lz-padding ($lz-padding / 2);

	h1, h2, h3, h4, h5, h6 {
		color: darken($orange, 45%);
		margin: 0;
		margin-bottom: $lz-padding / 2;
	}

	.message {
		display: none;
		padding: 0 ($lz-padding / 2);
		text-align: center;
		color: darken($orange, 45%);
	}

}

.share-your-story.sending {
	.story-form {
		opacity: .5
	}

	.message {
		display: block;
	}
}

.share-your-story.sent {
	.story-form {
		display: none;
	}

	h1, h2, h3, h4, h5, h6 {
		margin: 0;
	}
}

.share-your-story.error {
	.message {
		display: block;
	}
}

.story-form {
	transition: all .5s;
	display: flex;
	flex-direction: row;

	@media screen and (max-width: $break-small) {
		flex-wrap: wrap;
	}

	& > div {
		flex-basis: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 0 ($lz-padding / 2);

		@media screen and (max-width: $break-small) {
			flex-basis: 100%;
		}

		span {
			display: flex;
			margin: ($lz-padding / 4) 0;
			align-items: center;

			@media screen and (max-width: $break-small) {
				flex-direction: column;
				align-items: flex-start;
			}

			label {
				width: 15%;
				flex-shrink: 0;
				text-align: right;
				padding-right: $lz-padding / 2;
			}
		}

		label.textarea-label {
			display: none;

			@media screen and (max-width: $break-small) {
				display: block;
			}
		}

		span.align-right {
			justify-content: flex-end;
		}

	}

	input, textarea {
		border-radius: .15em;
		border: none;
		font-size: 1em;
		padding: .25em;
	}

	input {
		width: 100%;
	}

	input[type="submit"] {
		width: 25%;
		background: #fff;

		@media screen and (max-width: $break-small) {
			width: 100%;
		}

		&:hover {
			background: darken($orange, 45%);
			color: #fff;
		}
	}

	textarea {
		margin: ($lz-padding / 4) 0;
		resize: none;
		height: 4em;
		padding: $lz-padding / 4;
	}
}